body.page-eform-submit,
body.page-entityform-edit {
  .page {
    .block {
      background: $siasar-dark-grey;
      padding: 0;
    }
  }
}


form.entityform {
  position: relative;

  .btn.form-submit {
    background-image: url('../img/tick.svg');
    padding-left: 45px;
  }

  .vertical-tabs {
    border: none;
    margin: 0 0 20px 0;

    @include breakpoint($break-small) {
      margin-left: 10em;
    }
    @include breakpoint($break-medium) {
      margin-left: 15em;
    }
  }

  // Tabs
  .vertical-tabs-list {
    border: none;
    margin-top: 0;
    display: none;

    @include breakpoint($break-small) {
      display: block;
      width: 10em;
      margin-left: -10em;
    }
    @include breakpoint($break-medium) {
      width: 15em;
      margin-left: -15em;
    }

    li.vertical-tab-button {
      min-width: 10em;
      border: none;
      border-radius: $siasar-border-radius 0 0 $siasar-border-radius;
      margin-bottom: 3px;
      background: $siasar-orange;
      box-shadow: $shadow-tabs;
      border-right: $siasar-orange - #111111 solid 2px;

      &:hover {
        background-color: $siasar-light-orange;
      }

      a {
        color: white;
        text-decoration: none;
        outline: none;
        padding: 0.4em;

        &:hover,
        &:hover strong,
        &:focus strong {
          text-decoration: none;
        }
      }

      &.selected {
        background-color: white;
        border-color: white;
      }
    }
  }

  // Form elements
  .vertical-tabs-panes {
    background-color: white;
    border: none;
    padding: 0;

    @include breakpoint($break-small) {
      padding: $vertical-tabs-padding;
    }
    @include breakpoint($break-medium) {
      padding: $vertical-tabs-padding * 2;
    }

    fieldset.vertical-tabs-pane {
      transition: max-height $transition-time $transition-curve;
      max-height: 5000px;
      overflow-y: hidden;

      @include breakpoint($break-small) {
        overflow: visible;
        max-height: none;
      }

      > legend {
        display: block;
        width: calc(100% + 40px);
        position: static;
        margin: 0;
        background: url('../img/triangle_white_open.svg') 5px 8px no-repeat $siasar-orange;
        background-size: 15px 15px;
        padding-left: 30px;
        box-shadow: $shadow-interactive;
        cursor: pointer;
        font-size: 1.5rem;

        @include breakpoint($break-small) {
          display: none;
        }
      }
      > .fieldset-wrapper {
        padding: $vertical-tabs-padding;

        @include breakpoint($break-small) {
          padding: 0;
        }
      }

      &.closed {
        max-height: 36px; // required for animation
        transition: max-height $transition-time/2 $transition-curve;

        @include breakpoint($break-small) {
          max-height: 10000px;
        }

        > legend {
          background-image: url('../img/triangle_white_closed.svg');
        }
      }
    }

    fieldset {
      border: none;
      box-shadow: none;
      padding: 0;
      margin: 0;

      legend {
        @include form_subsection_tag();
        left: -$vertical-tabs-padding;

        @include breakpoint($break-medium) {
          left: -$vertical-tabs-padding * 2;
        }

        a {
          color: white;
        }
      }

      .field-group-fieldset {
        padding: $vertical-tabs-padding/2 0;
        margin-top: 50px;
        margin-bottom: 50px;

        @include breakpoint($break-medium) {
          padding: $vertical-tabs-padding 0;
        }

        &:first-child {
          margin-top: 0;
        }

        fieldset.form-wrapper {
          padding: 10px 0 0 20px;
          margin: 20px 0 30px 20px;
          overflow: visible;

          legend {
            float: left;
            padding: 0;
            background: white;
            color: $siasar-dark-cyan;
            font-size: 1rem;
          }

          > .fieldset-wrapper {
            float: left;
            border-left: solid $siasar-dark-cyan 2px;
            padding-left: 20px;
            margin: 0;

            .form-item:not(:last-child) {
              margin-bottom: 15px;
            }
          }
        }
        &.embeds-field-collection {
          th.field-label label {
            display: none;
          }
        }


      }

      .field-type-field-collection {
        table.sticky-header {
          @include breakpoint($break-small) {
            z-index: 1;
          }
        }

        th.field-label {
          padding: 0;
          float: none;
          width: auto;

          label {
            font-size: 1.25rem;
            font-weight: normal;
            color: #00829e;
          }
        }

        fieldset.field-group-fieldset {
          margin-left: 0;
          margin-right: 0;
          padding: $vertical-tabs-padding;

          > legend {
            @include form_subsection_tag();
            left: 0;
          }
          > .fieldset-wrapper {
            padding: 20px 0;
            margin: 0;
            border: none;

            legend {
              background: none;
            }
          }
        }

        tr.draggable td:first-child {
          background: $siasar-light-orange;
          width: $vertical-tabs-padding;

          a.tabledrag-handle {
            float: none;
            height: auto;
            margin: 0;
            text-decoration: none;

            .handle {
              background-position: 0px 0px;
              margin: 0 auto;
              padding: 0;
              width: 20px;
              height: 20px;
            }
            &.tabledrag-handle-hover .handle {
              background-position-y: -20px;
            }
          }
        }
      }

      // Group grids
      .group-grid {
        margin: 0;
        border-top: dotted $siasar-dark-cyan 2px;

        &:last-child {
          border-bottom: dotted $siasar-dark-cyan 2px;
        }

        > h3,
        > .description {
          width: 150px;
          float: left;
          box-sizing: border-box;
          margin: 0;
          padding: $vertical-tabs-padding $vertical-tabs-padding 0;
        }

        > h3 {
          color: $siasar-dark-cyan;
          font-size: 1.25rem;
          font-weight: bold;
        }

        > .description {
          padding-top: $vertical-tabs-padding / 2;
          clear: left;
          font-size: 0.85rem;
        }

        > .form-wrapper,
        > .group-grid {
          margin: 0 0 0 150px;
          padding: $vertical-tabs-padding;
          background: white;
          border-left: solid $siasar-dark-cyan 12px;
          display: table;
          border-collapse: separate;
          width: calc(100% - 150px);

          &:nth-child(odd) {
            background: $siasar-almost-white;
          }

          > h3,
          > .description {
            width: 200px;
          }
          .form-wrapper {
            margin-left: 200px;
            width: calc(100% - 200px);
          }
        }

        > .form-wrapper {
          label,
          .description {
            width: 40%;
            float: left;
            clear: left;
          }
          .description {
            font-size: 0.85rem;
          }
          input {
            width: auto;
          }
        }

        > .group-grid {
          padding: 0;

          .form-wrapper {
            border-width: 2px;
          }

          &:nth-child(2) {
            border-top: none;
          }
          &:last-child {
            border-bottom: none;
          }
        }
      }

      .full-width {
        margin-left: -2 * $vertical-tabs-padding;
        margin-right: -2 * $vertical-tabs-padding;
      }
    }

    .form-wrapper:not(:first-child) {
      margin-top: 30px;
    }
  }

  // Field country selector
  select[name='field_pais[und]'] {
    @include breakpoint($break-small) {
      width: auto;
    }
  }

  // Buttons in form
  .field-type-field-collection .field-multiple-table input.form-submit {
    background-image: url('../img/cross.svg');
    background-color: $siasar-red;
    background-size: 20px;
    padding-left: 50px;
    float: right;
    margin-top: 10px;
    margin-bottom: 10px;

    @include breakpoint($break-small) {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }

  input.field-add-more-submit {
    background-image: url('../img/plus.svg');
    background-color: $siasar-orange;
    background-size: 20px;
    padding-left: 50px;
    margin-top: 20px;
  }

  input.workflow-button-removed.btn.form-submit {
    background-image: url('../img/cross.svg');
    background-color: $siasar-red;
    padding-left: 55px;
  }

  .image-widget input[type=submit] {
    background-image: url('../img/arrow_up.svg');
    background-color: $siasar-orange;
    background-size: 20px;
    padding-left: 50px;
    margin-left: 20px;
  }

  // Action buttons
  .form-actions {
    text-align: right;

    input {
      margin-left: 10px;
      margin-bottom: 10px;

      @include breakpoint($break-small) {
        margin-left: 20px;
        margin-bottom: 20px;
      }
    }
  }

  #edit-revision-fieldset {
    background: #FFF;
  }
}

// Just for edit forms, making room for "Submitted by" string
body.page-entityform-edit {
  h1 {
    padding-bottom: 15px;
  }

  .submitted {
    top: -65px;
    left: 6px;
    color: white;

    @include breakpoint($break-small) {
      color: $siasar-dark-grey;
      top: 8px;
      left: 140px;
    }
    @include breakpoint($break-medium) {
      top: 11px;
      left: 250px;
    }
  }

  fieldset.vertical-tabs-pane {
    &:first-child {
      padding-top: 20px;

      @include breakpoint($break-medium) {
        padding-top: 20px;
      }
    }
  }

  .field-name-field-status {
    display: none;
  }
}

.form-item-field-tecnicos-und-0-field-cargo-tecnico-und,
.form-item-field-tecnicos-und-0-field-genero-tecnico-und,
.form-item-field-representantes-und-0-field-cargo-representante-und,
.form-item-field-representantes-und-0-field-genero-und{
  span.form-required {
    display: none;
  }
}
